p 
    |bạn anh duy
p 
.btn.btn-primary(ng-click="submitCompany()") summit  company
.btn.btn-primary(ng-click="onDeleteCompany()") delete  company
.btn.btn-primary(ng-click="onEditCompany()") edit  company
